<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Page</title>
</head>
<body>
    <header>
        <h1>CodingDojo Wall</h1>
        <p>Welcome {{request.session.first_name}}</p>
        <a href="/logout">Log Off</a>
    </header>

    <main>
        <form action="/post_message" method="POST">
            {% csrf_token %}
            <h2>Post a Message</h2>
            <input type="text" name="message_content">
            <input type="submit" name="create" value="Post a Message">
        </form>

 

            {% for message in messages.all %}
            <h3>{{message.user.full_name}} - {{message.created_at}}</h3>
                <p>{{message.message}}</p>
                    {% for comment in message.comments.all %}
                    <p>{{comment.user.full_name}} - {{comment.created_at}}</p>
                    <p> {{comment.comment}} </p>
                    {% endfor %}

                <form name="message_block" action="/post_comment/{{message.id}}" method="POST">
                {% csrf_token %}
                <p>Post a Comment</p>
                <input type="text" name="comment_content">
                <input type="submit" name="create" value="Post a Comment">
                </form>

            {% endfor %}


    </main>

</body>
</html>